@model IEnumerable<simeAlcatraz.Models.areaStock>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>List of areaStock</h5>
    					<div class="ibox-tools">
    						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
    					</div>
                    </div>
                    <div class="ibox-content">
    
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idSucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaUltimoServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaUltimoInven)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idEquipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idSucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaUltimoServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaUltimoInven)
            </td>
            <td>
    			@Html.ActionLink("Details", "Details", new { id=item.id }, new { @class = "btn btn-primary btn-sm"})
                @Html.ActionLink("Edit", "Edit", new { id=item.id }, new { @class = "btn btn-white btn-sm"})
                @Html.ActionLink("Delete", "Delete", new { id=item.id }, new { @class = "btn btn-white btn-sm"})
            </td>
        </tr>
    }
    
    </table>
    
                    </div>
                </div>
            </div>
        </div>
     </div>
    
    
    
</body>
</html>
